{% extends "base.html" %}

{% block extra_headers %}
 <script src='/_ah/channel/jsapi'></script>
 <script src='/medios/js/game.js'></script>
 <script src='/medios/js/chat_spy.js'></script>
{% endblock %}

{% block content %}
	
<h1>Hola '{{player|escape}}' estas en el mapa '{{mapa}}'</h1>

	<div style="border:1px solid #cccccc;margin-bottom: 4px; padding:4px;">
		
		
		<a href="/game/myplayer/" > My Player </a> |
		<a href="/game/salir/{{mapa.key.id}}/" > Salir del mapa </a>
		
					
	</div>

<div id="dibujo" style=""></div>

<div id="msgbox-div">
	 <ul id='msgbox'></ul>
</div>


<form onsubmit="return enviarMensaje();">
	<input type="text" name="mensaje" id="input_mensaje" style="width:100%;font-size:20px;border:1px solid pink; margin-top:4px;">
</form>

<div id="spybox" style="width:100%;height:100px;overflow:auto;">
<ul class="spy" id="elspy" >
    
</ul>
</div>



<script type="text/javascript">

	//machete http://raphaeljs.com/bounce.html
	var divScroll;
	var circle;
	var paper;
	var velocidad = 1500;
	var jugadores = {};
	var myplayerid = {{player.key.id}};
	var text_time_out = 10000;

	var channel_id = '{{channel_id}}';
	var channel = new goog.appengine.Channel(channel_id);
	var socket = channel.open();
	
	socket.onmessage = function(evt){
		
		var obj = jQuery.parseJSON(evt.data);
		
		
		switch (obj.type){
		
			case "move":{
					player = jugadores[obj.player_id]; 
					player.move(obj.pos_x, obj.pos_y)
			};break;

			case "msg":{
				var player = jugadores[obj.player_id];
				player.say(obj.msg);
				mostrarMensaje(player, obj.msg);
			};break;
			
			
			case "player_login":{
				if (obj.player_id != myplayerid){
					if (jugadores[obj.player_id]){
						//algo anda mal...
					}else{
						var player = new Player(obj);
						jugadores[obj.player_id] = player;
						player.dibujar();
					}
				}
				
			};break;
			
			case "player_logout":{
				
				player = jugadores[obj.player_id];
				player.remove();
				delete(jugadores[obj.player_id]);
				
			};break;
			
		}
		
	};
	
	function mostrarMensaje(player, msg){
		
		eul = document.getElementById('elspy');
		eli = document.createElement('li');
		
		eli.innerHTML = "<strong>"+player.name+"</strong>: "+msg;
		eul.appendChild(eli);
		
		divScroll.activeScroll();
		
		return
		
		
		
	}

	function enviarMensaje(){

		var input = document.getElementById('input_mensaje');
		$.post('/game/send_msg/{{mapa.key.id}}/', {msg: input.value},
				function(data){
					var player = jugadores[myplayerid];
					player.say(input.value);
					//mostrarMensaje(player, input.value);
					input.value ='';
		});
		return false;
	}
	
	
	$(document).ready(function(){
		
		
		boton_ocultar_header = document.getElementById('boton_ocultar_header');
		ocultar_header(boton_ocultar_header);
		
		
		
		dibujarMapa();
		dibujarJugadores();
		focus_text_input();
		
		divScroll = new chatscroll.Pane('elspy'); 
		
	})
	
	
	function dibujarJugadores(){
			
		$.getJSON('/game/get_players_map/{{mapa.key.id}}/', function(json) {
			   for ( i=0; i<json.length; i++){
				   		
				   var player = new Player(json[i]);
				   jugadores[player.player_id] = player;
				   player.dibujar();
				   
				}
		});
		
	}
	
	
	function dibujarMapa() { 
		paper = Raphael("dibujo", 898, 400);
		paper.canvas.style.cssText = "background-color:#efefef;border:1px solid #cccccc;";

		 $(paper.canvas).click(function(e){
				
			 	player = jugadores[myplayerid];
			 	//MALDITO EVENTO!..
				var y =  e.pageY - e.currentTarget.parentNode.parentNode.offsetTop - e.currentTarget.parentNode.offsetTop;
				var x =  e.pageX - e.currentTarget.parentNode.offsetLeft - e.currentTarget.parentNode.parentNode.offsetLeft;

				$.ajax({
					type: 'POST',
					url: '/game/player_update_pos/{{mapa.key.id}}/'+x+'/'+y+'/',
					success: function(data) {
						player.move(x,y);
					}
				});
				
				focus_text_input();				
	 	  });

		
				
	}//fin dibujar mapa

	
	function focus_text_input(){
		document.getElementById('input_mensaje').focus();
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</script>
{% endblock %}
